parameters:
    checkGenericClassInNonGenericObjectType: false
    ergebnis:
        allowAbstractClasses: true
        classesAllowedToBeExtended: []
        classesNotRequiredToBeAbstractOrFinal: []
        interfacesImplementedByContainers:
            - Psr\Container\ContainerInterface
    ignoreErrors:
        # \ReflectionProperty::getType() returns ReflectionNamedType, not ReflectionType.
        - "#Call to an undefined method ReflectionType::getName\\(\\)#"

parametersSchema:
    ergebnis: structure([
        allowAbstractClasses: bool()
        classesAllowedToBeExtended: listOf(string())
        classesNotRequiredToBeAbstractOrFinal: listOf(string())
        interfacesImplementedByContainers: listOf(string())
])

rules:
    - Ergebnis\PHPStan\Rules\Files\DeclareStrictTypesRule
